#thirdDiv {
  border-width: 10px;
  border-style: dotted;
  border-color: black;
  color: red;
  font-size: 30px;
  height: 600px;
  width: 500px;
  background-color: grey;
  padding: 50px
}
h1{
  color:blue;
}
body{
  background: url(https://thumbs.dreamstime.com/b/interior-blanco-moderno-del-restaurante-10461787.jpg);
  background-attachment:fixed;
}

#spanId{
  font-size: 18px;
  margin: 50px;
}

ul{
  text-align: center;
  color:white;
}

div{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  height: 50vh


}

.divClass {
color: blue;
 }

img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 400px;
}
